.acordionItem {
    margin-top: 16px;
}

.titleItem {
    transition: 200ms ease-out;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.titleItemOpened {
    transition: 200ms ease-in;
    color: #6C757D;
}

.titleItemOpenedDark {
    color: #CED4DA
}

.span {
    position: relative;
    font-size: 24px;
    font-weight: normal;
    align-self: center;
    margin-right: 8px;
    padding-top: 4px;
    transition: transform 300ms ease-in-out;
}

.spanOpened {
    transform: rotate(-90deg);
}

.itemOpened {
    padding-top: 8px;
    font-size: 24px;
}