.container {
    max-width: 1220px;
    height: 100vh;
    margin: auto;
    color: #F8F9FA;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
}

.formContainer {
    grid-column: 1/7;
    align-self: center;
}

.connectContainer {}

.preConnect {
    font-size: 24px;
    margin: 0;
}

.connect {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

.form {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 8px;
}

.formInputs {
    margin-top: 24px;
    height: 48px;
    width: 90%;
    background-color: #212529;
    color: #CED4DA;
    font-size: 24px;
    border-bottom: 4px solid #F8F9FA;
}

.formInputs::placeholder {
    color: #CED4DA;
}

.arrowSend {
    font-size: 28px;
    margin: 0;
    padding: 0;
    padding-left: 5%;
}

.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
}

.social {
    grid-column: 8/13;
    align-self: center;
}

.socialLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMediaContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 95%;
}

.socialLinks {
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
}

.email {
    margin-top: 48px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.emailIcon {
    font-size: 32px;
    margin-right: 5px;
    align-self: center;
}

.emailIconMargin {
    margin-right: 15px;
}

@media (max-width: 1219px) {
    .formContainer {
        grid-column: 2/7;
    }
    .social {
        grid-column: 7/12;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 500px;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .formContainer {
        align-self: flex-start;
    }
    .form {
        max-width: 100%;
    }
    .social {
        padding-top: 50px;
        align-self: flex-start;
    }
}

@media (max-width: 565px) {
    .container {
        margin: auto;
        min-height: 60vh;
        max-width: 100%;
        margin: 0px 32px;
    }
    .preConnect {
        font-size: 16px;
    }
    .connect {
        font-size: 48px;
    }
    .form {
        margin-top: 32px;
    }
    .formInputs {
        margin-top: 24px;
        height: 32px;
        width: 80%;
        background-color: #212529;
        color: #CED4DA;
        font-size: 16px;
        border-bottom: 4px solid #F8F9FA;
    }
    .socialMediaContainer {
        margin-top: 16px;
    }
    .socialLinks {
        font-size: 16px;
        margin-right: 16px;
    }
    .email {
        font-size: 16px;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .socialMediaContainer {
        margin-top: 0px;
    }
    .socialLinks {
        font-size: 16px;
        margin-right: 8px;
        margin-top: 8px;
    }
    .email {
        font-size: 14px;
        align-items: center;
    }
    .socialMediaContainer {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
        width: 100%;
    }
    .emailIcon {
        font-size: 24px;
        margin-right: 5px;
        align-self: center;
    }
}