.container {
  max-width: 1220px;
  margin: auto;
}

.fatherContainerBackground {
  transition: 0.8s ease;
}

.fatherContainerBackgroundDark {
  background-color: #212529;
}

.containerModalOpened {
  overflow: hidden;
}