.containerBackground {
    background-color: #212529;
    color: #F8F9FA;
    height: auto;
    margin-top: 900px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
}

.containerModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 8000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow-y: scroll;
}

.conatiner {
    max-width: 1220px;
    margin: auto;
    height: 100%;
}

.imageContainer {
    max-width: 1000px;
    height: 100%;
    position: relative;
    margin: auto;
    margin-top: 32px;
}

.buttonBack {
    font-size: 32px;
    padding-top: 32px;
    text-align: end;
    cursor: pointer;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding-top: 32px;
    align-items: baseline;
}

.button {
    cursor: pointer;
}

@media (max-width: 1100px) {
    .containerBackground {
        margin-top: 1000px;
        padding: 0;
    }
    .buttonBack {
        padding-right: 32px;
    }
    .imageContainer {
        width: 90%;
    }
    .titleContainer {
        margin: auto;
        width: 90%;
    }
    .conatiner {
        width: 800px;
    }
}

@media (max-width: 845px) {
    .containerBackground {
        margin-top: 1100px;
        padding: 0;
    }
    .conatiner {
        width: 700px;
    }
}

@media (max-width: 725px) {
    .containerBackground {
        margin-top: 900px;
        padding: 0;
    }
    .conatiner {
        width: 600px;
    }
}

@media (max-width: 635px) {
    .title {
        font-size: 32px;
    }
    .containerBackground {
        margin-top: 1100px;
    }
    .imageContainer {
        width: 90%;
    }
    .conatiner {
        width: 385px;
    }
}

@media (max-width: 424px) {
    .title {
        font-size: 24px;
    }
    .buttonBack {
        padding-top: 8px;
        padding-right: 8px;
    }
    .containerBackground {
        margin-top: 1150px;
    }
    .imageContainer {
        width: 90%;
    }
    .conatiner {
        width: 300px;
    }
    .titleContainer {
        display: flex;
        height: 125px;
        flex-direction: column;
        margin: auto;
        justify-content: space-around;
        padding-top: 16px;
        align-items: stretch;
    }
}

@media (max-width: 335px) {
    .containerBackground {
        margin-top: 1200px;
    }
    .imageContainer {
        width: 90%;
    }
    .conatiner {
        width: 250px;
    }
}