.container {
    min-height: 100vh;
    color: #F8F9FA;
    transition: 0.8s ease;
}

.containerLight {
    transition: 0.8s ease;
    color: #212529;
}

.projectsContainer {
    max-width: 1220px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.textPortfolio {
    padding-top: 64px;
    font-size: 32px;
    text-align: center;
}

.clickHere {
    text-decoration: underline;
    font-style: italic;
}

@media (max-width: 1219px) {
    .projectsContainer {
        margin: 0 32px;
    }
}